{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
    <nav class="navbar navbar-light" style="background-color: #ff8c00;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ToDoList!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'todolist:show_todolist' %}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'todolist:create_task' %}">CREATE NEW TASK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'todolist:logout' %}">LOGOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<style type="text/css">
      Html, body {
        height:100%;
      }
      .grandParentContaniner {
        display:table; height:100%; margin: 0 auto;
      }
      .parentContainer {
        display:table-cell; vertical-align:middle;
      } 
      body {
        background-image: url("https://i.pinimg.com/originals/38/51/8c/38518cc76d1965753247e4d35f82037a.jpg");
      }
      .submit {
        border-radius: 3px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        cursor: pointer;
        font-size: 15px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        text-align: center;
        width: 50%;
      }
      .submit:hover {
        box-shadow: 0 0.5em 0.3em -0.2em var(--hover);
        transform: translateY(-0.15em);
      }
      .container {
        padding: 25px;
        border-radius: 5px;   
        background-color: rgb(255, 140, 0);
        opacity: 100%;  
      }
      h1 {
        color: white;
        text-shadow: 2px 2px rgb(0, 0, 0);
        text-align: center;
        margin-left: 100px;
      }
      td {
        color: white;
        text-shadow: 2px 2px rgb(0, 0, 0);
        text-align: center;
      }
</style>
{% endblock meta %}

{% block content %}
<div class="grandParentContaniner">
    <div class="parentContainer">
        <h1>Create New Task</h1>  
        <br>
        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                <tr>
                    <td>Title: </td>
                    <td>{{form.title}}</td>
                <tr>
                    <td>Description: </td>
                    <td>{{form.description}}</td>
                </tr>
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="POST"/></td>
                </tr>  
            </table>  
        </form>
    </div>
</div>
{% endblock content %}