{% extends 'base.html' %}

{% block meta %}
<nav class="navbar navbar-light" style="background-color: #ff8c00;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ToDoList!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'todolist:logout' %}">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
    body {
      background-image: url("https://i.pinimg.com/originals/38/51/8c/38518cc76d1965753247e4d35f82037a.jpg");
    }
    .headingstyle {
      color: white;
      text-shadow: 2px 2px rgb(0, 0, 0);
      text-align: center;
    }
    .grandParentContaniner {
      display:table; height:100%; margin: 0 auto;
    }
    .parentContainer {
      display:table-cell; vertical-align:middle;
    }
    .button {
      border-radius: 3px;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 15px;
      height: 60px;
      margin-top: 10px;
      margin-left: 100px;
      text-align: center;
      width: 30%;
    }
    .card {
      background-color: #ff8c00;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;
      margin-bottom: 15px;
    }
    .card:hover {
      transform: translateY(3px);
    }
    .container {
      padding: 20px 10px;
    }
    .here {
    }
    /*.wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 3px;
      column-gap: 3px;
    }*/
</style>

<script>
    $(document).ready(() => {
        get_task();
    })
    function create() {
        const form = $(".create_task");
        $.ajax({
            type: "POST",
            url: "/todolist/create-task/",
            data: form.serialize(),
        }).done(function(data) {
            form.trigger("reset");
            get_task();
        });
        $("#staticBackdrop").modal("hide");
    }
    function get_task() {
        $.ajax({
            type: "GET",
            url: "/todolist/json/"
        }).done((data) => {
            renderTask(data);
        });
    }
    function renderTask(data) {
        const individualCards = $('.here');
        data.forEach(task => {
            const taskCard = `
            <div class="card">
              <div class="container">
                <h4><b>${task.fields.title}</b></h4>
                <p>${task.fields.description}</p>
                <p>${task.fields.date}</p>
              </div>
            </div>`
        ;
            individualCards.append(taskCard);
        })
    };
</script>
{% endblock meta %}

{% block content %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Fill out your task title and description</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="card-body">
          <form class="create_task" method="POST">
              {% csrf_token %}
              <div class="card-body" style="padding-left:0.5%;margin-top: 5px; margin-bottom: 5px;">
              <h3><input 
                type="text" 
                class="form-control" 
                id="floatingInput" 
                name="title" ></h3>
                <label for="floatingInput">Title</label>
              </div>
              <div class="card-body" style="padding-left:0.5%;margin-top: 5px;margin-bottom: 5px;">
              <h3><textarea 
                class="form-control" 
                id="floatingDescription" 
                name="description" rows="4" cols="50"></textarea></h3>
                <label for="floatingDescription" style="padding-left:2.5%;">Description</label>
              </div>
            </form>
      </div>
      <div class="card-body">
        <h3><button type="button" class="submit" data-bs-dismiss="modal">Close</button> 
        <button type="button" class="submit" onclick="create()">Create Task</button></h3>
      </div>
    </div>
  </div>
</div>  

<div class="grandParentContaniner">
  <div class="parentContainer">
    <br>
    <h1 class="headingstyle">TO DO LIST</h1>
    <h6 class="headingstyle">USERNAME</h6>
    <h6 class="headingstyle">{{username}}</h6>
    <br>
    <h3 class="headingstyle"><button type="button" class="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create a new task</button></h3>
    <br>
    <div class="here">
    </div>
    <!-- {% for task in alltask %}
    <div class="card">
      <div class="container">
        <h4><b>{{task.title}}</b></h4>
        <p>{{task.description}}</p>
        <p>{{task.date}}</p>
      </div>
    </div>
    {% endfor %} -->
    <br>
    <h6 class="headingstyle">Sesi terakhir login: {{last_login}}</h6>
  </div>
</div>
{% endblock content %}